<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About Me</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"rel="stylesheet">
</head>

<body class="bg-light">

    <div class="container text-center mt-5">
        <h1 class="mb-4">About Me</h1>

        <div class="list-group">
            <a href="/hairColour" class="list-group-item list-group-item-action">
                Hair Colour
            </a>

            <a href="/perfectHeight" class="list-group-item list-group-item-action">
                Perfect Height
            </a>

            <a href="/preferredName" class="list-group-item list-group-item-action">
                Preferred Name
            </a>
        </div>
    </div>

</body>
</html>